<span style="color:red">### variable names ###</span>
##### 1. student_id  學生代碼 可以串接往後資料
##### 2. contact  接觸情形 （a:保留有接觸成功 ？）
##### 3. teps_sex 受訪者學生的性別 1:男 2:女 --> 男女受到訪問的人數差不多

<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/tepsb_sex.png" alt="gender" width="800" height="500">

##### 4. cp09v02是電話接起來的受訪者性別 notice:不一定是本人
##### 5. cp09v05是接起來電話人是學生的 pick up 學生本人？
------------------------------------------------------------------------------------------------------------
<span style="color:red">### education  ###</span>

##### 6. cp09v06最高教育程度，包含現在就讀中 （多數2009cp 還是在讀書）有高達2000多位回答現在學歷為大學
<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v06.png" alt="教育程度" width="800" height="500">

##### 7. cp09v07受訪者，學生有沒有畢業 針對學生為學生為二專、科大、大學進步詢問。如果是以下者，或是遺漏跳達者，接續到問題12

##### 8. cp09v08受者者的，大學學校分類 1:公立 2:私立 --> 大學、學院 、科大 、技職學院 、 專科 、 國外大學  (值得注意:受者最多為私立大學)

<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v08_u.png" alt="學校" width="800" height="500">

##### 9. cp09v08受者major? 以領域分類 --> 以社會科學人數最為多數

<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v08_ud.png" alt="major" width="800" height="500">

##### 10. cp09v09受訪者，回答的學校是日間部、夜間部、進修部

##### 11. cp09v10受訪者，這個學制是不是四技、二技或二專？ 

------------------------------------------------------------------------------------------------------------

<span style="color:red">### education 更詳細的追問特定議題 ###</span>

##### 11. cp09v11受訪者是否以下：轉系、轉學、雙主修、輔系、師資培育、休學、退學

<span style="color:red">### Job ###</span>

##### 11. cp09v12 現在有沒有全職工作？（請訪員唸出：全職工作的定義是指非學生身份，每星期工作時數達30小時，如果是在念夜間部時做過的全職工作可以算進去） --> 多數人現在都是沒有全職工作

<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v12.png" alt="major" width="800" height="500">

##### 11. cp09v13 現在有沒有在找全職工作？

##### 11. cp09v14 之前有沒有做過全職的工作？ 驗證多數人沒有做過全職工作 

<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v14.png" alt="major" width="800" height="500">

##### 23. cp09v23 這個全職工作平均每個月（稅前）收入大約多少？ 無全職工作跳達
<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v23.png" alt="major" width="800" height="500">

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib.pyplot as plt 
import matplotlib.font_manager as fm
import seaborn as sns
import numpy as np
import pandas as pd 
plt.style.use('ggplot')

plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)


df=pd.read_csv('2009CP-1.csv',encoding='utf-8')
df.head()

In [ ]:
df.columns

In [ ]:
import pandas as pd

# Create an empty DataFrame to store the results
results_df = pd.DataFrame()

# Loop through each column in the DataFrame
for col in df.columns:
    # Check if the column contains numerical data
    #if df[col].dtype != 'object':
        # Calculate the descriptive statistics for the column
        stats = df[col].describe()
        # Add the column name as a new row index
        stats.name = col
        # Transpose the result and add it to the results DataFrame
        results_df = pd.concat([results_df, stats.to_frame().T])

# Print the results DataFrame
print(results_df)

In [ ]:
for col in df.columns:
    #if df[col].dtype != 'object': # check if the column contains numerical data
        print(col)
        print(df[col].describe())
        print('-' * 50) # add a separator line

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot') 
for col in df.columns:
    if df[col].dtype == 'object': # check if the column contains categorical data
        ax = df[col].value_counts().plot(kind='barh', figsize=(12, 9), rot=20, fontsize=12, colormap='plasma') 
        for i in ax.containers:
            ax.bar_label(i, label_type='edge')
        plt.xticks(rotation=20)
        plt.title(col, fontsize=16) # set the title of the plot to the column name
        plt.tight_layout()
        plt.savefig(col+'.png',dpi=10000, )
        plt.show()

In [ ]:
import os
import matplotlib.pyplot as plt

save_dir = '/Users/heng/Documents/master_eco_thesis/graph/'

for col in df.columns:
    if df[col].dtype == 'object': # check if the column contains categorical data
        ax = df[col].value_counts().plot(kind='barh', figsize=(12, 9), rot=20, fontsize=12, colormap='cividis') 
        for i in ax.containers:
            ax.bar_label(i, label_type='edge')
        plt.xticks(rotation=20)
        plt.title(col, fontsize=16) # set the title of the plot to the column name
        plt.tight_layout()
        #plt.savefig(os.path.join(save_dir, col+'.png'))
        plt.show()

In [ ]:
#pd.read_stata('cp2013.dta', convert_categoricals=False).to_csv('cp2013.csv', index=False)

In [6]:
import pandas as pd
 

cp2013 = pd.read_csv('cp2013.csv',encoding='big5')
cp2013.head()

,stud_id,contact,tepsb_sex,ym,svyunit,cp13v01,cp13v05,cp13v28,cp13v29,cp13v30_g,...,cp13v56,cp13v57,cp13v58,cp13v59,cp13v60,cp13v60_k,cp13v61,cp13v62,cp13log1,cp13log2
0,16183,2,1,201310,1,1,3,3,7,1,...,99,999,99,99,99,999,999,99,0,0
1,5433,2,2,201310,1,1,9,3,5,99,...,99,999,99,99,99,999,999,99,0,0
2,16661,2,2,201310,1,1,2,3,6,99,...,2,62,9,42,2,999,60,8,0,0
3,12413,0,1,201310,1,96,96,96,96,96,...,96,996,96,96,96,996,996,96,0,0
4,16380,0,2,201310,1,96,96,96,96,96,...,96,996,96,96,96,996,996,96,0,0

In [7]:
cp2013.columns

Index(['stud_id', 'contact', 'tepsb_sex', 'ym', 'svyunit', 'cp13v01',
       'cp13v05', 'cp13v28', 'cp13v29', 'cp13v30_g', 'cp13v30_gd', 'cp13v31',
       'cp13v32v33_u', 'cp13v32v33_ud', 'cp13v34', 'cp13v35', 'cp13v36',
       'cp13v36_1', 'cp13v36_2', 'cp13v37', 'cp13v37_1', 'cp13v37_2',
       'cp13v38', 'cp13v38_1', 'cp13v38_2', 'cp13v39', 'cp13v39_1',
       'cp13v39_2', 'cp13v40', 'cp13v41', 'cp13v42', 'cp13v43', 'cp13v44',
       'cp13v44_1', 'cp13v45', 'cp13v46', 'cp13v47', 'cp13v48', 'cp13v49',
       'cp13v49_k', 'cp13v50', 'cp13v51', 'cp13v52', 'cp13v53', 'cp13v54',
       'cp13v55', 'cp13v56', 'cp13v57', 'cp13v58', 'cp13v59', 'cp13v60',
       'cp13v60_k', 'cp13v61', 'cp13v62', 'cp13log1', 'cp13log2'],
      dtype='object')

In [8]:
cp2013['contact'].value_counts()


###00 未成功接觸01 成功接觸未完訪02 成功完訪  09 無法再接觸

contact
2    3131
0     657
1     445
9      28
Name: count, dtype: int64

In [9]:
# Define a dictionary of code-label mappings
code_labels_contact = {0: '未成功接觸', 1: '成功接觸未完訪', 2: '成功完訪', 9: '無法再接觸'}

# Replace the codes with labels in the 'contact' column
cp2013['contact'] = cp2013['contact'].replace(code_labels_contact)
cp2013['contact'].value_counts()

contact
成功完訪       3131
未成功接觸       657
成功接觸未完訪     445
無法再接觸        28
Name: count, dtype: int64

In [12]:
cp2013['tepsb_sex'].value_counts()
code_labels_sex={1:'男',2:'女'} 
cp2013["tepsb_sex"]=cp2013["tepsb_sex"].replace(code_labels_sex)
cp2013["tepsb_sex"].value_counts()

tepsb_sex
女    2148
男    2113
Name: count, dtype: int64

In [15]:
cp2013.head()

,stud_id,contact,tepsb_sex,ym,svyunit,cp13v01,cp13v05,cp13v28,cp13v29,cp13v30_g,...,cp13v56,cp13v57,cp13v58,cp13v59,cp13v60,cp13v60_k,cp13v61,cp13v62,cp13log1,cp13log2
0,16183,成功完訪,男,201310,1,1,3,3,7,1,...,99,999,99,99,99,999,999,99,0,0
1,5433,成功完訪,女,201310,1,1,9,3,5,99,...,99,999,99,99,99,999,999,99,0,0
2,16661,成功完訪,女,201310,1,1,2,3,6,99,...,2,62,9,42,2,999,60,8,0,0
3,12413,未成功接觸,男,201310,1,96,96,96,96,96,...,96,996,96,96,96,996,996,96,0,0
4,16380,未成功接觸,女,201310,1,96,96,96,96,96,...,96,996,96,96,96,996,996,96,0,0

In [22]:
cp2013['cp13v01'].value_counts()  
code_labels_tel_ans={1:'學生本人', 2:'爸爸（含繼父、養父）',3:'媽媽（含繼母、養母）',4: '兄姐',5: '弟妹'
,6: '祖父母或外祖父母'
,7: '其他'
,96:'遺漏值'}

cp2013['cp13v01']=cp2013['cp13v01'].replace(code_labels_tel_ans)
cp2013['cp13v01'].value_counts()

cp13v01
學生本人          2716
遺漏值           1049
媽媽（含繼母、養母）     299
爸爸（含繼父、養父）     125
兄姐              28
弟妹              27
其他              17
Name: count, dtype: int64