<span style="color:red">### variable names ###</span>
##### 1. student_id  學生代碼 可以串接往後資料
##### 2. contact  接觸情形 （a:保留有接觸成功 ？）
##### 3. teps_sex 受訪者學生的性別 1:男 2:女 --> 男女受到訪問的人數差不多

<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/tepsb_sex.png" alt="gender" width="800" height="500">

##### 4. cp09v02是電話接起來的受訪者性別 notice:不一定是本人
##### 5. cp09v05是接起來電話人是學生的 pick up 學生本人？
------------------------------------------------------------------------------------------------------------
<span style="color:red">### education  ###</span>

##### 6. cp09v06最高教育程度，包含現在就讀中 （多數2009cp 還是在讀書）有高達2000多位回答現在學歷為大學
<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v06.png" alt="教育程度" width="800" height="500">

##### 7. cp09v07受訪者，學生有沒有畢業 針對學生為學生為二專、科大、大學進步詢問。如果是以下者，或是遺漏跳達者，接續到問題12

##### 8. cp09v08受者者的，大學學校分類 1:公立 2:私立 --> 大學、學院 、科大 、技職學院 、 專科 、 國外大學  (值得注意:受者最多為私立大學)

<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v08_u.png" alt="學校" width="800" height="500">

##### 9. cp09v08受者major? 以領域分類 --> 以社會科學人數最為多數

<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v08_ud.png" alt="major" width="800" height="500">

##### 10. cp09v09受訪者，回答的學校是日間部、夜間部、進修部

##### 11. cp09v10受訪者，這個學制是不是四技、二技或二專？ 

------------------------------------------------------------------------------------------------------------

<span style="color:red">### education 更詳細的追問特定議題 ###</span>

##### 11. cp09v11受訪者是否以下：轉系、轉學、雙主修、輔系、師資培育、休學、退學

<span style="color:red">### Job ###</span>

##### 11. cp09v12 現在有沒有全職工作？（請訪員唸出：全職工作的定義是指非學生身份，每星期工作時數達30小時，如果是在念夜間部時做過的全職工作可以算進去） --> 多數人現在都是沒有全職工作

<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v12.png" alt="major" width="800" height="500">

##### 11. cp09v13 現在有沒有在找全職工作？

##### 11. cp09v14 之前有沒有做過全職的工作？ 驗證多數人沒有做過全職工作 

<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v14.png" alt="major" width="800" height="500">

##### 23. cp09v23 這個全職工作平均每個月（稅前）收入大約多少？ 無全職工作跳達
<img src="/Users/heng/Documents/master_eco_thesis/graph-cp-2009/cp09v23.png" alt="major" width="800" height="500">

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib.pyplot as plt 
import matplotlib.font_manager as fm
import seaborn as sns
import numpy as np
import pandas as pd 
plt.style.use('ggplot')

plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)


df=pd.read_csv('2009CP-1.csv',encoding='utf-8')
df.head()
print(df.shape)

In [ ]:
df.columns

In [ ]:
import pandas as pd

# Create an empty DataFrame to store the results
results_df = pd.DataFrame()

# Loop through each column in the DataFrame
for col in df.columns:
    # Check if the column contains numerical data
    #if df[col].dtype != 'object':
        # Calculate the descriptive statistics for the column
        stats = df[col].describe()
        # Add the column name as a new row index
        stats.name = col
        # Transpose the result and add it to the results DataFrame
        results_df = pd.concat([results_df, stats.to_frame().T])

# Print the results DataFrame
print(results_df)

In [ ]:
for col in df.columns:
    #if df[col].dtype != 'object': # check if the column contains numerical data
        print(col)
        print(df[col].describe())
        print('-' * 50) # add a separator line

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot') 
for col in df.columns:
    if df[col].dtype == 'object': # check if the column contains categorical data
        ax = df[col].value_counts().plot(kind='barh', figsize=(12, 9), rot=20, fontsize=12, colormap='plasma') 
        for i in ax.containers:
            ax.bar_label(i, label_type='edge')
        plt.xticks(rotation=20)
        plt.title(col, fontsize=16) # set the title of the plot to the column name
        plt.tight_layout()
        plt.savefig(col+'.png',dpi=10000, )
        plt.show()

In [ ]:
import os
import matplotlib.pyplot as plt

save_dir = '/Users/heng/Documents/master_eco_thesis/graph/'

for col in df.columns:
    if df[col].dtype == 'object': # check if the column contains categorical data
        ax = df[col].value_counts().plot(kind='barh', figsize=(12, 9), rot=20, fontsize=12, colormap='cividis') 
        for i in ax.containers:
            ax.bar_label(i, label_type='edge')
        plt.xticks(rotation=20)
        plt.title(col, fontsize=16) # set the title of the plot to the column name
        plt.tight_layout()
        #plt.savefig(os.path.join(save_dir, col+'.png'))
        plt.show()

In [ ]:
#pd.read_stata('cp2013.dta', convert_categoricals=False).to_csv('cp2013.csv', index=False)

In [ ]:
import pandas as pd
 

cp2013 = pd.read_csv('cp2013.csv',encoding='big5')
cp2013.head()

In [ ]:
cp2013.columns

In [ ]:
cp2013['contact'].value_counts()


###00 未成功接觸01 成功接觸未完訪02 成功完訪  09 無法再接觸

In [ ]:
# Define a dictionary of code-label mappings
code_labels_contact = {0: '未成功接觸', 1: '成功接觸未完訪', 2: '成功完訪', 9: '無法再接觸'}

# Replace the codes with labels in the 'contact' column
cp2013['contact'] = cp2013['contact'].replace(code_labels_contact)
cp2013['contact'].value_counts()

In [ ]:
cp2013['tepsb_sex'].value_counts()
code_labels_sex={1:'男',2:'女'} 
cp2013["tepsb_sex"]=cp2013["tepsb_sex"].replace(code_labels_sex)
cp2013["tepsb_sex"].value_counts()

In [ ]:
cp2013.head()

In [ ]:
cp2013['cp13v01'].value_counts()  
code_labels_tel_ans={1:'學生本人', 2:'爸爸（含繼父、養父）',3:'媽媽（含繼母、養母）',4: '兄姐',5: '弟妹'
,6: '祖父母或外祖父母'
,7: '其他'
,96:'遺漏值'}

cp2013['cp13v01']=cp2013['cp13v01'].replace(code_labels_tel_ans)
cp2013['cp13v01'].value_counts()

In [ ]:
import numpy as np  
print(np.arange(1, 10, 2))

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)
# 手动输入表格数据
data = {
    '受訪者目前最高學歷': ['大學', '科技大學、技術學院', '遺漏值', '高級中等學校', '其他', '不知道、不清楚', '拒答'],
    '遺漏、跳': [2056, 931, 384, 122, 7, 1, 1],
    '5年': [1, 1, 0, 0, 0, 0, 0],
    '4年-5年': [1, 1, 0, 0, 0, 0, 0],
    '3年-4年': [2, 2, 0, 3, 0, 0, 0],
    '2年-3年': [9, 21, 0, 24, 0, 0, 0],
    '1年-2年': [10, 7, 0, 4, 0, 0, 0],
    '1年內': [1, 3, 0, 1, 0, 0, 0],
    'Total': [2080, 966, 384, 154, 7, 1, 1]
}

# 创建 DataFrame
df = pd.DataFrame(data)

# 创建 countplot
sns.set(style="whitegrid")
plt.figure(figsize=(12, 6))
sns.barplot(data=df, x='受訪者目前最高學歷', y='Total', color='blue')
plt.xlabel('受訪者目前最高學歷')
plt.ylabel('Total')
plt.title('受訪者目前最高學歷分布')
plt.xticks(rotation=45)  # 旋转 x 轴标签以增加可读性

# 显示图形
plt.tight_layout()
plt.show()

In [ ]:
df

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 設定中文字體
plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)

# 手動輸入表格資料
data = {
    '受訪者目前最高學歷': ['大學', '科技大學、技術學院', '遺漏值', '高級中等學校', '其他', '不知道、不清楚', '拒答'],
    '遺漏、跳': [2056, 931, 384, 122, 7, 1, 1],
    '5年': [1, 1, 0, 0, 0, 0, 0],
    '4年-5年': [1, 1, 0, 0, 0, 0, 0],
    '3年-4年': [2, 2, 0, 3, 0, 0, 0],
    '2年-3年': [9, 21, 0, 24, 0, 0, 0],
    '1年-2年': [10, 7, 0, 4, 0, 0, 0],
    '1年內': [1, 3, 0, 1, 0, 0, 0],
    'Total': [2080, 966, 384, 154, 7, 1, 1]
}

# 創建 DataFrame
df = pd.DataFrame(data)

# 創建 countplot
sns.set(style="whitegrid")
plt.figure(figsize=(12, 6))
sns.barplot(data=df, x='受訪者目前最高學歷', y='Total', color='blue')
plt.xlabel('受訪者目前最高學歷', fontproperties=font_prop)
plt.ylabel('Total')
plt.title('受訪者目前最高學歷分布', fontproperties=font_prop)
plt.xticks(rotation=45)  # 旋轉 x 軸標籤以增加可讀性

# 顯示圖形
plt.tight_layout()
plt.show()

In [ ]:
df

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 設定中文字體
plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)

# 讀取資料
data = {
    '受訪者目前最高學歷': ['大學', '科技大學、技術學院', '遺漏值', '高級中等學校', '其他', '不知道、不清楚', '拒答'],
    '遺漏、跳': [2056, 931, 384, 122, 7, 1, 1],
    '5年': [1, 1, 0, 0, 0, 0, 0],
    '4年-5年': [1, 1, 0, 0, 0, 0, 0],
    '3年-4年': [2, 2, 0, 3, 0, 0, 0],
    '2年-3年': [9, 21, 0, 24, 0, 0, 0],
    '1年-2年': [10, 7, 0, 4, 0, 0, 0],
    '1年內': [1, 3, 0, 1, 0, 0, 0],
    'Total': [2080, 966, 384, 154, 7, 1, 1]
}

# 創建 DataFrame
df_1 = pd.DataFrame(data)

# 創建直方圖
fig, axs = plt.subplots(1, 6, figsize=(20, 5), sharey=True)
axs[0].hist(df["遺漏、跳"])
axs[1].hist(df["5年"])
axs[2].hist(df["4年-5年"])
axs[3].hist(df["3年-4年"])
axs[4].hist(df["2年-3年"])
axs[5].hist(df["1年-2年"])

# 設定標題和標籤
axs[0].set_title("遺漏、跳")
axs[1].set_title("5年")
axs[2].set_title("4年-5年")
axs[3].set_title("3年-4年")
axs[4].set_title("2年-3年")
axs[5].set_title("1年-2年")
axs[0].set_ylabel("Frequency")
for ax in axs:
    ax.set_xlabel("受訪者目前最高學歷")

# 顯示圖形
plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 設定中文字體
plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)

# 讀取資料
data = {
    '受訪者目前最高學歷': ['大學', '科技大學、技術學院', '遺漏值', '高級中等學校', '其他', '不知道、不清楚', '拒答'],
    '遺漏、跳': [2056, 931, 384, 122, 7, 1, 1],
    '5年': [1, 1, 0, 0, 0, 0, 0],
    '4年-5年': [1, 1, 0, 0, 0, 0, 0],
    '3年-4年': [2, 2, 0, 3, 0, 0, 0],
    '2年-3年': [9, 21, 0, 24, 0, 0, 0],
    '1年-2年': [10, 7, 0, 4, 0, 0, 0],
    '1年內': [1, 3, 0, 1, 0, 0, 0],
    'Total': [2080, 966, 384, 154, 7, 1, 1]
}

# 創建 DataFrame
df_1 = pd.DataFrame(data)

# 創建條形圖
fig, axs = plt.subplots(1, 6, figsize=(20, 5), sharey=True)
axs[0].barh(df_1["受訪者目前最高學歷"], df_1["遺漏、跳"])
axs[1].barh(df_1["受訪者目前最高學歷"], df_1["5年"])
axs[2].barh(df_1["受訪者目前最高學歷"], df_1["4年-5年"])
axs[3].barh(df_1["受訪者目前最高學歷"], df_1["3年-4年"])
axs[4].barh(df_1["受訪者目前最高學歷"], df_1["2年-3年"])
axs[5].barh(df_1["受訪者目前最高學歷"], df_1["1年-2年"])

# 設定標題和標籤
axs[0].set_title("遺漏、跳")
axs[1].set_title("5年")
axs[2].set_title("4年-5年")
axs[3].set_title("3年-4年")
axs[4].set_title("2年-3年")
axs[5].set_title("1年-2年")
axs[0].set_xlabel("Frequency")
for ax in axs:
    ax.set_ylabel("受訪者目前最高學歷")

# 顯示圖形
plt.show()

In [ ]:
plt.style.use('ggplot') 
for col in df.columns:
    if df[col].dtype == 'object': # check if the column contains categorical data
        plt.figure(figsize=(8, 8))
        plt.pie(df[col].value_counts(), labels=df[col].value_counts().index, autopct='%1.1f%%', startangle=90)
        plt.title(col, fontsize=16) # set the title of the plot to the column name
        plt.tight_layout()
        #plt.savefig(col+'.png',dpi=10000, )
        plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 設定中文字體
plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)

# 讀取資料
data = {
    '受訪者目前最高學歷': ['大學', '科技大學、技術學院', '遺漏值', '高級中等學校', '其他', '不知道、不清楚', '拒答'],
    '遺漏、跳': [2056, 931, 384, 122, 7, 1, 1],
    '5年': [1, 1, 0, 0, 0, 0, 0],
    '4年-5年': [1, 1, 0, 0, 0, 0, 0],
    '3年-4年': [2, 2, 0, 3, 0, 0, 0],
    '2年-3年': [9, 21, 0, 24, 0, 0, 0],
    '1年-2年': [10, 7, 0, 4, 0, 0, 0],
    '1年內': [1, 3, 0, 1, 0, 0, 0],
    'Total': [2080, 966, 384, 154, 7, 1, 1]
}

# 創建 DataFrame
df_1 = pd.DataFrame(data)

# 創建條形圖
fig, axs = plt.subplots(3, 3, figsize=(15, 15), sharey=True)
axs[0, 0].barh(df_1["受訪者目前最高學歷"], df_1["遺漏、跳"])
axs[0, 1].barh(df_1["受訪者目前最高學歷"], df_1["5年"])
axs[0, 2].barh(df_1["受訪者目前最高學歷"], df_1["4年-5年"])
axs[1, 0].barh(df_1["受訪者目前最高學歷"], df_1["3年-4年"])
axs[1, 1].barh(df_1["受訪者目前最高學歷"], df_1["2年-3年"])
axs[1, 2].barh(df_1["受訪者目前最高學歷"], df_1["1年-2年"])
axs[2, 1].barh(df_1["受訪者目前最高學歷"], df_1["1年內"])

# 設定標題和標籤
axs[0, 0].set_title("遺漏、跳")
axs[0, 1].set_title("5年")
axs[0, 2].set_title("4年-5年")
axs[1, 0].set_title("3年-4年")
axs[1, 1].set_title("2年-3年")
axs[1, 2].set_title("1年-2年")
axs[2, 1].set_title("1年內")
axs[0, 0].set_xlabel("Frequency")
for ax in axs.flat:
    ax.set_ylabel("受訪者目前最高學歷")

# 顯示圖形
plt.tight_layout()
plt.savefig('edu_exper.eps',dpi=1000,format='eps') 
plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 設定中文字體
plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)

# Creating the data
data = {
    "大學學校種類": ["國立大學", "私立大學", "國立科技大學", "私立科技大學", "技職學院、專科學校", "學院", "國外大學、其他", "遺漏、不清楚、拒答", "跳答"],
    "2萬以下": [5, 28, 7, 46, 27, 0, 0, 1, 37],
    "2萬以上，3萬以下": [3, 17, 6, 24, 27, 1, 0, 1, 62],
    "3萬以上，4萬以下": [0, 2, 0, 4, 4, 0, 0, 0, 23],
    "4萬以上，5萬以下": [0, 0, 0, 0, 0, 0, 0, 0, 3],
    "5萬以上，6萬以下": [0, 0, 0, 0, 1, 0, 0, 0, 1],
    "遺漏、不清楚、拒答": [3, 2, 1, 6, 3, 0, 0, 395, 18],
    "跳答": [763, 1118, 163, 423, 250, 23, 34, 11, 50]
}

df = pd.DataFrame(data)

# Plotting the data
fig, axs = plt.subplots(2, 2, figsize=(15, 10))

# Bar chart
# Stacked bar chart
df.set_index("大學學校種類").plot(kind='bar', stacked=True, ax=axs[0, 1])
axs[0, 1].set_title("Stacked Bar Chart")
axs[0, 1].set_ylabel("Count")

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 設定中文字體
plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)
plt.style.use('ggplot')
# Creating the data
data = {
    "大學學校種類": ["國立大學", "私立大學", "國立科技大學", "私立科技大學", "技職學院、專科學校", "學院", "國外大學、其他", "遺漏、不清楚、拒答", "跳答"],
    "2萬以下": [5, 28, 7, 46, 27, 0, 0, 1, 37],
    "2萬以上，3萬以下": [3, 17, 6, 24, 27, 1, 0, 1, 62],
    "3萬以上，4萬以下": [0, 2, 0, 4, 4, 0, 0, 0, 23],
    "4萬以上，5萬以下": [0, 0, 0, 0, 0, 0, 0, 0, 3],
    "5萬以上，6萬以下": [0, 0, 0, 0, 1, 0, 0, 0, 1],
    "遺漏、不清楚、拒答": [3, 2, 1, 6, 3, 0, 0, 395, 18],
    "跳答": [763, 1118, 163, 423, 250, 23, 34, 11, 50]
}

df = pd.DataFrame(data)

# Plotting the data
plt.figure(figsize=(10, 6))
df.set_index("大學學校種類").plot(kind='bar',stacked=True, rot=70, fontsize=10, )
plt.title("大學學校種類與薪酬", fontsize=16)
plt.ylabel("累積人數")
plt.legend(loc='upper right', bbox_to_anchor=(1.35, 0.8), ncol=1)  
plt.savefig('school_type_salary.eps',format='eps', bbox_inches='tight')
plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 設定中文字體
plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)
plt.style.use('ggplot')

data = {
    'School Type': ['大學', '私立大學', '國立科技', '私立科技', '技職學院', '學院', '國外大學', '遺漏', '跳答'],
    'Male': [424, 528, 100, 256, 150, 16, 9, 178, 103],
    'Female': [350, 639, 77, 247, 162, 8, 25, 230, 91]
}

df_gender_school = pd.DataFrame(data)

# Plotting the data
fig, ax = plt.subplots(figsize=(12, 8))
df_gender_school.set_index('School Type').plot(kind='bar', ax=ax)
ax.set_ylabel("數量")
ax.set_title("性別與學校類別")
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig("gender_school.eps",format='eps', bbox_inches='tight')
plt.show()

In [ ]:
# Data
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 設定中文字體
plt.rcParams['font.family'] = ['Arial Unicode MS']
font_path = '/System/Library/Fonts/PingFang.ttc'
font_prop = fm.FontProperties(fname=font_path, size=16)
plt.style.use('ggplot')

data = {
    'TEPS-B 樣本性別': ['男', '女', 'Total'],
    '教育領域': [38, 50, 88],
    '人文及藝術領域': [135, 322, 457],
    '社會科學、商業及法律領域': [261, 494, 755],
    '科學領域': [234, 136, 370],
    '工程、製造及營造領域': [574, 125, 699],
    '農學領域': [31, 43, 74],
    '醫藥衛生及社福領域': [78, 171, 249],
    '服務領域': [118, 158, 276],
    '其他領域': [3, 3, 6],
    '遺漏值': [173, 224, 397],
    '不知道、不清楚': [9, 8, 17],
    '拒答': [6, 2, 8],
    '跳答': [104, 93, 197],
    'Total': [1764, 1829, 3593]
}

df = pd.DataFrame(data)

# Plotting pie charts for both genders with subplots

fig, axes = plt.subplots(1, 2, figsize=(12, 9))

# Data
labels = df.columns[1:-1]
sizes_men = df.iloc[0, 1:-1]
sizes_women = df.iloc[1, 1:-1]

# Men's data
axes[0].pie(sizes_men, labels=labels, autopct='%1.1f%%', startangle=140)
axes[0].set_title('男生', fontproperties=font_prop)

# Women's data
axes[1].pie(sizes_women, labels=labels, autopct='%1.1f%%', startangle=140)
axes[1].set_title('女生', fontproperties=font_prop)

plt.tight_layout()
plt.show()

In [ ]:
# Plotting pie charts for both genders with subplots

fig, axes = plt.subplots(2, 1, figsize=(16, 8))
plt.style.use('ggplot')
# Data
labels = df.columns[1:-1]
sizes_men = df.iloc[0, 1:-1]
sizes_women = df.iloc[1, 1:-1]

# Men's data
wedges, texts, autotexts = axes[0].pie(sizes_men, labels=labels, autopct='%1.1f%%', startangle=140, textprops={'fontsize': 12})
axes[0].set_title('男生', fontproperties=font_prop)
axes[0].legend(wedges, labels, title="領域", loc="center left", bbox_to_anchor=(1.5, 0.2, 0, 1), fontsize=10)

# Women's data
wedges, texts, autotexts = axes[1].pie(sizes_women, labels=labels, autopct='%1.1f%%', startangle=140, textprops={'fontsize': 12})
axes[1].set_title('女生', fontproperties=font_prop)
#axes[1].legend(wedges, labels, title="領域", loc="center left", bbox_to_anchor=(1, 0, 0.5, 1), fontsize=12)

plt.tight_layout()
fig, axes = plt.subplots(2, 1, figsize=(16, 8))
plt.style.use('ggplot')
# Data
labels = df.columns[1:-1]
sizes_men = df.iloc[0, 1:-1]
sizes_women = df.iloc[1, 1:-1]plt.show()

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(16, 10))
plt.style.use('ggplot')
# Data
labels = df.columns[1:-1]
sizes_men = df.iloc[0, 1:-1]
sizes_women = df.iloc[1, 1:-1]
axes[0].barh(labels, sizes_men, )
axes[0].set_title('男生')
axes[0].set_xlim(0, max(sizes_men)*1.1)  # To ensure both plots have the same x limits

# Women's data
axes[1].barh(labels, sizes_women)
axes[1].set_title('女生')
axes[1].set_xlim(0, max(sizes_men)*1.1)  # To ensure both plots have the same x limits
plt.suptitle('性別與大學主修', fontsize=18)
plt.tight_layout()
plt.show()

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(16, 10))
plt.style.use('ggplot')

# Data
labels = df.columns[1:-1]
sizes_men = df.iloc[0, 1:-1]
sizes_women = df.iloc[1, 1:-1]

# Men's data
colors_men = ['tab:blue', 'tab:orange', 'tab:green', 'tab:red', 'tab:purple', 'tab:brown', 'tab:pink', 'tab:gray', 'tab:olive', 'tab:cyan']
axes[0].barh(labels, sizes_men, color=colors_men)
axes[0].set_title('男生')
axes[0].set_xlim(0, max(sizes_men)*1.1)  # To ensure both plots have the same x limits

# Women's data
colors_women = ['tab:blue', 'tab:orange', 'tab:green', 'tab:red', 'tab:purple', 'tab:brown', 'tab:pink', 'tab:gray', 'tab:olive', 'tab:cyan']
axes[1].barh(labels, sizes_women, color=colors_women)
axes[1].set_title('女生')
axes[1].set_xlim(0, max(sizes_men)*1.1)  # To ensure both plots have the same x limits

plt.suptitle('性別與大學主修', fontsize=18)
plt.tight_layout()
plt.show()

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(24, 12))
plt.style.use('ggplot')

# Data
labels = df.columns[1:-1]
sizes_men = df.iloc[0, 1:-1]
sizes_women = df.iloc[1, 1:-1]

# Men's data
colors_men = ['tab:blue', 'tab:orange', 'tab:green', 'tab:red', 'tab:purple', 'tab:brown', 'tab:pink', 'tab:gray', 'tab:olive', 'tab:cyan']
axes[0].barh(labels, sizes_men, color=colors_men)
axes[0].set_title('男生')
axes[0].set_xlim(0, max(sizes_men)*1.1)  # To ensure both plots have the same x limits
for i, v in enumerate(sizes_men):
    axes[0].text(v + 0.1, i, str(v), color='black', fontsize=12)

# Women's data
colors_women = ['tab:blue', 'tab:orange', 'tab:green', 'tab:red', 'tab:purple', 'tab:brown', 'tab:pink', 'tab:gray', 'tab:olive', 'tab:cyan']
axes[1].barh(labels, sizes_women, color=colors_women)
axes[1].set_title('女生')
axes[1].set_xlim(0, max(sizes_men)*1.1)  # To ensure both plots have the same x limits
for i, v in enumerate(sizes_women):
    axes[1].text(v + 0.1, i, str(v), color='black', fontsize=12)

plt.suptitle('性別與大學科系', fontsize=24)
plt.tight_layout()
plt.savefig("gender_major.eps",format='eps', bbox_inches='tight', dpi=1000)
plt.show()

In [ ]:
fig, axes = plt.subplots(2, 1, figsize=(12, 12))
plt.style.use('ggplot')

# Data
labels = df.columns[1:-1]
sizes_men = df.iloc[0, 1:-1]
sizes_women = df.iloc[1, 1:-1]

# Men's data
colors_men = ['tab:blue', 'tab:orange', 'tab:green', 'tab:red', 'tab:purple', 'tab:brown', 'tab:pink', 'tab:gray', 'tab:olive', 'tab:cyan']
axes[0].barh(labels, sizes_men, color=colors_men)
axes[0].set_title('男生')
axes[0].set_xlim(0, max(sizes_men)*1.1)  # To ensure both plots have the same x limits
for i, v in enumerate(sizes_men):
    axes[0].text(v + 0.1, i, str(v), color='black', fontsize=12)

# Women's data
colors_women = ['tab:blue', 'tab:orange', 'tab:green', 'tab:red', 'tab:purple', 'tab:brown', 'tab:pink', 'tab:gray', 'tab:olive', 'tab:cyan']
axes[1].barh(labels, sizes_women, color=colors_women)
axes[1].set_title('女生')
axes[1].set_xlim(0, max(sizes_men)*1.1)  # To ensure both plots have the same x limits
for i, v in enumerate(sizes_women):
    axes[1].text(v + 0.1, i, str(v), color='black', fontsize=12)

plt.suptitle('性別與大學科系', fontsize=18)
plt.tight_layout()
plt.savefig("gender_major.eps",format='eps',  dpi=1000)
plt.show()

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

df = pd.read_stata('cp2009.dta', convert_categoricals=False)
df = df.sort_values(by='stud_id', ascending=True)
df = df.reset_index(drop=True)
df

,stud_id,contact,tepsb_sex,cp09v02,cp09v05,cp09v06,cp09v07,cp09v08_u,cp09v08_ud,cp09v09,...,cp09v19,cp09v20,cp09v20_k,cp09v21,cp09v22,cp09v23,cp09v24,cp09v25,cp09v26,cp09v27
0,00002,6,2,2,1,5,2,8,3,1,...,99,99,999,99,999,99,99,99,150,60
1,00003,5,2,96,96,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996
2,00004,6,2,2,1,6,2,1,5,1,...,99,99,999,99,999,99,99,99,165,55
3,00010,4,2,96,96,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996
4,00012,6,2,2,1,5,2,9,5,2,...,42,2,999,5,45,4,1,99,155,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4256,20031,6,2,2,1,2,1,99,99,99,...,51,2,999,5,30,3,2,4,153,53
4257,20033,4,2,96,96,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996
4258,20040,4,2,96,96,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996
4259,20045,5,1,96,96,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996
4260,20052,4,2,96,96,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996

In [2]:
df= df[df["contact"].isin([5, 6])]
df

,stud_id,contact,tepsb_sex,cp09v02,cp09v05,cp09v06,cp09v07,cp09v08_u,cp09v08_ud,cp09v09,...,cp09v19,cp09v20,cp09v20_k,cp09v21,cp09v22,cp09v23,cp09v24,cp09v25,cp09v26,cp09v27
0,00002,6,2,2,1,5,2,8,3,1,...,99,99,999,99,999,99,99,99,150,60
1,00003,5,2,96,96,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996
2,00004,6,2,2,1,6,2,1,5,1,...,99,99,999,99,999,99,99,99,165,55
4,00012,6,2,2,1,5,2,9,5,2,...,42,2,999,5,45,4,1,99,155,60
5,00015,6,2,2,3,6,2,1,5,1,...,99,99,999,99,999,99,99,99,157,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4253,20020,6,2,2,1,6,2,6,3,1,...,99,99,999,99,999,99,99,99,155,49
4254,20025,6,2,2,4,2,3,99,99,99,...,51,1,4,6,72,97,2,97,160,50
4255,20028,5,2,96,96,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996
4256,20031,6,2,2,1,2,1,99,99,99,...,51,2,999,5,30,3,2,4,153,53
4259,20045,5,1,96,96,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996

In [3]:
df["contact"].value_counts()

contact
6    3184
5     409
Name: count, dtype: int64

In [5]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

df_2 = pd.read_stata('cp2013.dta', convert_categoricals=False)
df_2 = df_2.sort_values(by='stud_id', ascending=True)
df_2 = df_2.reset_index(drop=True)
df_2
df_2= df_2[df_2["contact"].isin([1, 2])]
df_2

/var/folders/4p/_w7sb0h97x989ymb8f68ts_h0000gn/T/ipykernel_2979/3633630086.py:5: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df_2 = pd.read_stata('cp2013.dta', convert_categoricals=False)

,stud_id,contact,tepsb_sex,ym,svyunit,cp13v01,cp13v05,cp13v28,cp13v29,cp13v30_g,...,cp13v56,cp13v57,cp13v58,cp13v59,cp13v60,cp13v60_k,cp13v61,cp13v62,cp13log1,cp13log2
0,00002,2,2,201310,1,1,8,3,5,99,...,99,999,99,99,99,999,999,99,0,0
2,00004,2,2,201310,1,1,6,3,7,11,...,99,999,99,99,99,999,999,99,0,0
3,00010,2,2,201310,1,1,15,3,6,99,...,99,999,99,99,99,999,999,99,0,0
5,00015,1,2,201310,1,96,96,96,96,96,...,96,996,96,96,96,996,996,96,0,0
6,00024,2,1,201310,1,1,15,3,5,99,...,99,999,99,99,99,999,999,99,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4251,19999,2,2,201310,1,1,2,3,5,99,...,2,46,4,41,2,999,40,5,0,0
4253,20020,2,2,201310,1,1,8,3,7,1,...,99,999,99,99,99,999,999,99,0,0
4254,20025,2,2,201401,2,1,19,3,2,99,...,99,999,99,99,99,999,999,99,0,0
4255,20028,1,2,201310,1,96,96,96,96,96,...,96,996,96,96,96,996,996,96,0,0
4256,20031,2,2,201310,1,1,1,1,2,99,...,99,999,99,99,99,999,999,99,0,0

In [ ]:
# 合併 df 和 df_2
#cp = pd.merge(df, df_2, on=['stud_id', 'y'], how='inner')

# 保留 df 中有的 stud_id，剔除 df_2 中沒有的 stud_id
#cp = cp[cp['stud_id'].isin(df['stud_id'])]

# 以 df 為基準，保留 ccontact 和 tepsb_sex 欄位
#cp = cp[['stud_id', 'y', 'ccontact', 'tepsb_sex']]

In [9]:
cp = pd.merge(df_2[['stud_id', 'contact', 'tepsb_sex']], df, on='stud_id', how='inner', suffixes=('_df2', '_df'))
cp

,stud_id,contact_df2,tepsb_sex_df2,contact_df,tepsb_sex_df,cp09v02,cp09v05,cp09v06,cp09v07,cp09v08_u,...,cp09v19,cp09v20,cp09v20_k,cp09v21,cp09v22,cp09v23,cp09v24,cp09v25,cp09v26,cp09v27
0,00002,2,2,6,2,2,1,5,2,8,...,99,99,999,99,999,99,99,99,150,60
1,00004,2,2,6,2,2,1,6,2,1,...,99,99,999,99,999,99,99,99,165,55
2,00015,1,2,6,2,2,3,6,2,1,...,99,99,999,99,999,99,99,99,157,50
3,00024,2,1,6,1,1,1,6,2,3,...,99,99,999,99,999,99,99,99,176,75
4,00028,2,2,6,2,2,1,4,3,9,...,93,2,999,6,42,4,2,4,155,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3304,19999,2,2,6,2,2,1,5,2,3,...,99,99,999,99,999,99,99,99,166,51
3305,20020,2,2,6,2,2,1,6,2,6,...,99,99,999,99,999,99,99,99,155,49
3306,20025,2,2,6,2,2,4,2,3,99,...,51,1,4,6,72,97,2,97,160,50
3307,20028,1,2,5,2,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996
3308,20031,2,2,6,2,2,1,2,1,99,...,51,2,999,5,30,3,2,4,153,53

In [ ]:
cp["contact_x"].value_counts()

In [11]:
cp = pd.merge(df_2, df, on='stud_id', how='inner')
cp

,stud_id,contact_x,tepsb_sex_x,ym,svyunit,cp13v01,cp13v05,cp13v28,cp13v29,cp13v30_g,...,cp09v19,cp09v20,cp09v20_k,cp09v21,cp09v22,cp09v23,cp09v24,cp09v25,cp09v26,cp09v27
0,00002,2,2,201310,1,1,8,3,5,99,...,99,99,999,99,999,99,99,99,150,60
1,00004,2,2,201310,1,1,6,3,7,11,...,99,99,999,99,999,99,99,99,165,55
2,00015,1,2,201310,1,96,96,96,96,96,...,99,99,999,99,999,99,99,99,157,50
3,00024,2,1,201310,1,1,15,3,5,99,...,99,99,999,99,999,99,99,99,176,75
4,00028,2,2,201310,1,3,1,3,5,99,...,93,2,999,6,42,4,2,4,155,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3304,19999,2,2,201310,1,1,2,3,5,99,...,99,99,999,99,999,99,99,99,166,51
3305,20020,2,2,201310,1,1,8,3,7,1,...,99,99,999,99,999,99,99,99,155,49
3306,20025,2,2,201401,2,1,19,3,2,99,...,51,1,4,6,72,97,2,97,160,50
3307,20028,1,2,201310,1,96,96,96,96,96,...,96,96,999,96,996,96,96,96,996,996
3308,20031,2,2,201310,1,1,1,1,2,99,...,51,2,999,5,30,3,2,4,153,53

In [12]:
cp.to_stata('cp.dta', write_index=False)